@import "tailwindcss";

@theme inline {
  --font-gilroy: "Gilroy";
  --font-gilroy-thin: "Gilroy Thin";
  --font-gilroy-bold: "Gilroy Bold";
  --font-gilroy-extrabold: "Gilroy ExtraBold";
  --font-gilroy-medium: "Gilroy Medium";
  --font-gilroy-semibold: "Gilroy SemiBold";
}

@font-face {
  font-family: "Gilroy Thin";
  src: url("/about/fonts/gilroy/Gilroy-Thin.ttf") format("trueType");
}
@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("/about/fonts/gilroy/Gilroy-ExtraBold.ttf") format("trueType");
}
@font-face {
  font-family: "Gilroy Medium";
  src: url("/about/fonts/gilroy/Gilroy-Medium.ttf") format("trueType");
}
@font-face {
  font-family: "Gilroy Bold";
  src: url("/about/fonts/gilroy/Gilroy-Bold.ttf") format("trueType");
}
@font-face {
  font-family: "Gilroy SemiBold";
  src: url("/about/fonts/gilroy/Gilroy-SemiBold.ttf") format("trueType");
}

